@import url('https://fonts.googleapis.com/css2?family=Khmer&family=Poppins:ital,wght@0,200;0,300;0,400;1,200;1,300;1,400&display=swap');
*{
    font-family: 'Khmer', cursive;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    scroll-padding-top: 2rem;
    scroll-behavior: smooth;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

:root{
    --main-color: red;
    --text-color: black;
    --bg-color: white;
}
img{
    width: 100%;
}

body{
    color: var(--text-color)
}
section{
    padding: 4rem 0 3rem;
}
#page-header {
    background-image: url("../img/page1/banner1.jpg");
    width: 100%;
    height: 60vh;
    background-size: cover;
    display: flex;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background: var(--bg-color);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
    z-index: 100;
    display: flex;
    direction: row;
    /* outline: 2px solid blue; */
}

header .nav a {
    /* background-color: pink; */
    display: flex;
    direction: row;
    align-items: center;
    justify-content: center;
}

header .nav .logo{
    width: 70px;
    height: 40px;
}

.nav {
    display: flex;
    direction: row;
    align-items: center;
    justify-content: space-between;
}

#mobile {
    /* width: 460px; */
    margin:  10px 0 0 700px;
    display: flex;
    align-items: center;
}
#mobile i {
    color: black;
    font-size: 24px;
    padding-left: 10px;
}



.vertical-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    /* background-color: #ffffff; */
    box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
    padding: 0 10px;
    /* background-color: green; */
}

.vertical-menu li {
    list-style: none;
    padding: 0 20px;
    position: relative;
}

.vertical-menu li {
    list-style: none;
    padding: 0 20px;
    position: relative;
   
}
.vertical-menu li a {
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: 600;
    color: black;
    transition: 0.3s ease;
}
.vertical-menu li a:hover,
.vertical-menu li a.active {
    color: #088178;
    /* cursor: pointer; */
}
.vertical-menu li a.active::after,
.vertical-menu li a:hover::after {
content: "";
width: 30%;
height: 2px;
background: #088178;
position: absolute;
bottom: -4px;
left: 20px;
}


#horizontal-menu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: fixed;
    top: 0;
    left: -300px;
    height: 100vh;
    width: 300px;
    background-color: #ffffff;
    box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
    padding: 30px 0 0 10px;
    z-index: 100;
    /* outline: 2px solid black; */
}

#horizontal-menu.active {
    left: 0 !important;
}
#horizontal-menu li {
    list-style: none;
    padding: 0 20px;
    position: relative;
    margin-bottom: 25px;
}
#horizontal-menu li a {
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: 600;
    color: black;
    transition: 0.3s ease;
}
#horizontal-menu li a:hover,
#horizontal-menu li a.active {
    color: #088178;
    /* cursor: pointer; */
}
#horizontal-menu li a.active::after,
#horizontal-menu li a:hover::after {
content: "";
width: 30%;
height: 2px;
background: #088178;
position: absolute;
bottom: -4px;
left: 20px;
}

.container{
    max-width: 980px;
    margin: auto;
    width: 100%;
}
.logo{
    font-size: 1.1rem;
    color: var(--text-color);
    font-weight: 400;
}
#cart-icon, #bar {
    font-size: 1.8rem;
    cursor: pointer;
}
/* cart */
.cart {
    position: fixed;
    top: 0;
    right: -110%;
    width: 360px;
    min-height: 100vh;
    padding: 20px;
    background: var(--bg-color);
    box-shadow: -2px 0 4px hsl(0 4% 15% / 10%);
    transition: 0.3s;

}
.cart.active {
    right: 0;
}
.cart-title {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: 2rem;
}
.cart-box {
    display: grid;
    grid-template-columns: 32% 50% 18%;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
}
.cart-img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    padding: 10px;
}
.cart-content {
    font-size: 14px;
    overflow-y: scroll;
    height: 450px;

}
.detail-box {
    display: grid;
    row-gap: 0.5rem;
}
.cart-product-title {
    font-size: 0.8rem;
    text-transform: capitalize;
}
.cart-price {
    font-weight: 500;
}
.cart-quantity {
    border: 1px solid var(--text-color);
    outline-color: var(--main-color);
    width: 2.4rem;
    text-align: center;
    font-size: 1rem;
}
.cart-remove {
    font-size: 24px;
    color: var(--main-color);
    cursor: pointer;
}
.total {
    display: flex;
    justify-content: flex-end;
    margin-top: 2.5rem;
    border-top: 1px solid var(--text-color);
}
.total-title {
    font-size: 1rem;
    font-weight: 500;
}
.total-price {
    margin-left: 0.5rem;
}
.btn-buy {
    display: flex;
    margin: 1.5rem auto 0 auto;
    padding: 12px 20px;
    border: none;
    background: var(--main-color);
    color: var(--bg-color);
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
}
.btn-buy:hover {
    background: var(--text-color);
}
#close-cart {
    position: absolute;
    top: 1rem;
    right: 0.8rem;
    font-size: 2rem;
    color: var(--text-color);
    cursor: pointer;
}
.section-title{
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
    margin-bottom: 1.5rem;
}
.shop{
    margin-top: 2rem;
}
/* shop content */
.shop-content{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, auto));
    gap: 1.5rem;
}
.product-box{
    position: relative;
}
.product-box:hover {
    padding: 10px;
    border: 1px solid var(--text-color);
    transition: 0.4s;
}
.product-img {
    width: 100%;
    height: 270px;
    /* max-height: 270px */
    margin-bottom: 0.5rem;
}
.product-title {
    font-size: 1.1rem;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 0.5rem;
}
.price {
    font-weight: 500;
}
.add-cart {
    position: absolute;
    bottom: 0;
    right: 0;
    background: var(--text-color);
    color: var(--bg-color);
    padding: 10px;
    cursor: pointer;
}
.add-cart:hover {
    background: hsl(249, 32%, 17%);
}
.section-p1 .col {
    margin: 0;
    padding: 20px;
    width: 50%;
}

.is-mobile {
    display: none;
}
.not-mobile {
    display: flex;
}

/* Making Responsive */
@media (max-width: 799px) {
    .section-p1 .col {
        margin: 0;
        padding: 20px;
        width: 100%;
    }
    /* #horizontal-menu li {
        margin-bottom: 20px;
    }
    .nav {
        padding: 15px;
    }
    section {
        padding: 3rem 0 2rem;
    }
    .container {
        margin: 0 auto;
        width: 90%;
    }
    .shop {
        margin-top: 2rem !important;
    } */
    #newsletter .form {
        margin-top: 20px;
        width: 100% !important;
        background-color: pink;
    }
}

@media (max-width: 400px) {
    .nav {
        padding: 11px;
    }
    .logo {
        font-size: 1rem;
    }
    .cart {
        width: 320px;
    }
    .is-mobile {
        display: flex !important;
    }
    .not-mobile {
        display: none !important;
    }
    #newsletter .form {
        margin-top: 20px;
        width: 100% !important;
    }
    .section-p1 .col {
        margin: 0;
        padding: 20px;
        width: 100%;
    }
}

@media (max-width: 360px) {
    .shop {
        margin-top: 1rem !important;
    }
    .cart {
        width: 280px;
    }
    #newsletter .form {
        margin-top: 20px;
        width: 100% !important;
    }
    .section-p1 .col {
        margin: 0;
        padding: 20px;
        width: 100%;
    }
}





#pagination {
    text-align: center;
}
#pagination a {
    text-decoration: none;
    background-color: #088178;
    padding: 15px 20px;
    border-radius: 4px;
    color: cornsilk;
    font-weight: 600;
}
/* Feature */
/* #feature .section-p1 {
    float: left;
} */
#feature {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
#feature .fe-box {
    width: 180px;
    text-align: center;
    padding: 25px 15px;
    box-shadow: 20px 20px 35px rgba(0, 0, 0, 0.0.5);
    border: 1px solid #cce7d0;
    border-radius: 10px;
    margin: 15px 0;
}
#feature .fe-box:hover {
    box-shadow: 10px 10px 55px rgba(70, 62, 221, 0.1);
}
#feature .fe-box img {
    width: 100%;
    margin-bottom: 0;
}
#feature .fe-box h6 {
    display: inline-block;
    padding: 9px 8px 6px 8px;
    line-height: 1;
    border-radius: 4px;
    color: #088178;
    background-color: #fddde4;
}
#feature .fe-box:nth-child(2) h6 {
    background-color: #ecf0f1;
}
#feature .fe-box:nth-child(3) h6 {
    background-color: #f1c40f;
}
#feature .fe-box:nth-child(4) h6 {
    background-color: #2ecc71;
}
#feature .fe-box:nth-child(5) h6 {
    background-color: #ffeaa7;
}
/* Banner footer */
#newsletter {
    padding: 40px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-image: url(../img/page1/banner4.webp);
    background-repeat: no-repeat;
    background-position: 20% 30%;
    background-color: #192a56;
}
#newsletter h4{
    font-size: 22px;
    font-weight: 700;
    color: #fff;
}
#newsletter p{
    font-size: 14px;
    font-weight: 600;
    color: #ecf0f1;
}
#newsletter p span {
    color: #f1c40f;
}
#newsletter .form {
    display: flex;
    width: 30%;
}
#newsletter input {
    height: 50px;
    padding: 0 20px;
    font-size: 14px;
    width: 100%;
    border: 1px solid transparent;
    border-radius: 4px;
    outline: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
#newsletter button {
    width: 30%;
    background-color: #088178;
    color: #fff;
    white-space: nowrap;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
/* Footer img logo */
.col img {
    /* margin: 80px 20px 10px; */
    width: 80px;
    height: 60px;
}

.follow h4 {
    margin: 30px 30px 0;
}
/* Footer img media */
.icon img {
    width: 200px;
    height: 60px;
    margin: 0 10px;
    cursor: pointer;
}
/* Footer */
.row img {
    width: 150px;
    height: 60px;
    cursor: pointer;
}
.row .payment {
    width: 350px;
    height: 60px;
    cursor: pointer;
}
footer {
    display: flex;
    flex-wrap: wrap;
    justify-content:flex-start;
    
}

footer .col {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
    margin: 100px 80px 50px 0;
    cursor: pointer;
}
footer .logo {
    margin-bottom: 30px;
}
footer h4 {
    font-size: 14px;
    padding-bottom: 20px;
}
footer p {
    font-size: 13px;
    margin: 0 0 8px 0;
}
footer p {
    font-size: 13px;
    text-decoration: none;
    color: #222;
    margin-bottom: 10px;
}
/* footer .install  img {
    border: 1px solid #088178;
    border-radius: 10px;
}
footer .install img {
    margin: 10px 0 15px 0;
} */
footer .follow .row:hover,
footer a:hover {
    color: #088178;
}
#mobile {
    /* width: 460px; */
    margin:  10px 0 0 700px;
    display: flex;
    align-items: center;
}

